.QuizSummary {
    position: relative;
    width: 100%;
    height: 100%;
    top: 30%;
    font-size: 2.5rem;
}

.Score {
    color: white;
}

.Options {
    display: flex;
    justify-content: space-around;
}

.OptionBtn {
    text-align: center;
    padding: 8px 16px;
    margin: 16px 32px;
    border-radius: 16px;
    font-size: 1rem;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

.OptionBtn:active,
.OptionBtn:hover {
    transform: translateY(-4px);
    background-color: tomato;
}

.OptionBtn:focus {
    outline: none;
}