.Answer {
    cursor: pointer;
    background-color: #FFFAFA;
    border: 2px solid black;
    padding: 8px 16px;
    text-align: center;
    border-radius: 24px;
    margin: 16px 8px;
}

.Answer:active,
.Answer:hover {
    background-color: rgb(255, 102, 102);
}